---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactButton from '../components/ContactButton.svelte';
---

<BaseLayout title="Contact" description="contact links">
    <div class="grow flex gap-2 p-2 flex-wrap content-start justify-center">
        <ContactButton image_source="/res/gmail.png" contact_link="mailto:lmenjoulet@gmail.com"/>
        <ContactButton image_source="/res/linkedin.png" contact_link="https://fr.linkedin.com/in/loup-menjoulet"/>
        <ContactButton image_source="/res/github.svg" contact_link="https://github.com/lmenjoulet"/>
    </div>
</BaseLayout>