---
import BaseLayout from '../layouts/BaseLayout.astro';
const {content} = Astro.props;
---

<BaseLayout title={content.title} description={content.description}>
    <div class="p-2 mx-auto max-w-2xl text-justify prose prose-headings:underline">
        <slot/>
    </div>
</BaseLayout>

